$primary-color: #011a27;
$secondary-color: #F0810F;
$font-size: 18px;

h1 {
  color: $primary-color;
}

body {
  background: white;
  color: black;
  font-family: 'Orbitron', sans-serif;
  font-size: $font-size;
  margin: 70px 0;
}

.chatbar {
  background: $primary-color;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
}

.chatbar-message,
.chatbar-username {
  border: 1px solid $secondary-color;
  border-radius: 3px;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
}

.chatbar-message {
  flex: 8;
}

.chatbar-username {
  flex: 2;
}

.messages {
  padding: 10px 0px;
}

.message {
  display: flex;
  padding: 5px;
}


.message.system {
  font-style: italic;
  padding: 5px 20px;
}

.message-content,
.message-username,
.message-picture {
  overflow: hidden;
  margin: 5px;
  padding: 10px;
  word-wrap: break-word;
}

.message-content,
.message-picture {
  flex: 8;
}

.message-content{
  background-color: $primary-color;
  color: $secondary-color;
  border-radius: 3px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.message-username {
  flex: 2;
  font-weight: 700;
}

.picture {
  width: 40%;
  border-radius: 3px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.navbar {
  background: $primary-color;
  height: 70px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
}

.navbar-brand {
  color: $secondary-color;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 35px;
  height: 70px;
  line-height: 80px;
  padding: 0 10px;
  text-decoration: none;
}

.navbar .users-online {
  color: $secondary-color;
  font-size: $font-size;
  padding: 0 10px;
  float: right;  
  line-height: 75px;
}

.navbar .logo {
    height: 70px;
}

@media only screen and (max-width: 600px) {
  .message {
    flex-direction: column;
  }
  .chatbar {
    flex-direction: column;
  }
}
